.input-container {
  display: flex;
}

.app-input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  font-family: inherit;
  flex-grow: 1;
  padding: 0;
}

.app-input:focus {
  outline: none;
  border-bottom: 1px solid steelblue;
}

.app-input:focus + .add-todo {
  background-color: steelblue;
}

.add-todo {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  padding: 0;
  cursor: pointer;
  background-color: #000;
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 4px;
}

.add-todo:hover {
  opacity: 0.8;
}

.add-todo svg {
  width: 20px;
  height: 20px;
  fill: white;
}
